.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    padding: 5px;
    color: white;
}

.messages {
    padding: 10px;
    color: white;
}

.message {
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
}